apiVersion: v1
kind: Pod
metadata:
  name: pihole
  namespace: pihole
  labels:
    app: pihole
spec:
  hostNetwork: true
  dnsPolicy: "None"
  dnsConfig:
  containers:
    - name: pihole
      image: {{ image }}
      imagePullPolicy: IfNotPresent
      env:
        - name: PIHOLE_DNS_1
          value: "1.1.1.1"
        - name: PIHOLE_DNS_2
          value: "8.8.8.8"  
        - name: PIHOLE_UID
          value: "0"
        - name: TZ
          value: "{{ TZ }}"
        - name: WEBPASSWORD
          value: "{{ WEBPASSWORD }}"
      securityContext:
        privileged: true
        capabilities:
          add:
          - "NET_ADMIN"
      ports:
        - containerPort: 53
          protocol: TCP
        - containerPort: 53
          protocol: UDP
        - containerPort: 67
          protocol: UDP
        - containerPort: 80
          protocol: TCP
        - containerPort: 443
          protocol: TCP
      volumeMounts:
        - name: etc
          mountPath: /etc/pihole
        - name: dnsmasq
          mountPath: /etc/dnsmasq.d
      resources:
        requests:
          memory: 128Mi
          cpu: 100m
        limits:
          memory: 2Gi
          cpu: 1
  volumes:
    - name: etc
      hostPath:
        path: /data/pihole/etc
        type: Directory
    - name: dnsmasq
      hostPath:
        path: /data/pihole/dnsmasq.d
        type: Directory
